{% extends 'base.html.twig' %}

{% block title %}Produits index{% endblock %}

{% block body %}
{#     {% include "_partials/_adminnav.html.twig"  %} 
 #}
    <h1>Liste des produits</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Image</th>
                <th>Nom</th>
                <th>Description</th>
                <th>Prix</th>
                <th>Stock</th>
                <th>Reference_fournisseur</th>
                <th>Created_at</th>
                <th>Slug</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for produit in produits %}
            <tr>
                <td>{{ produit.id }}</td>
                <td><img class="card-img-top" src="{{ asset('uploads/produits/' ~ produit.image) }}" alt=" {{ produit.nom }} "
                style="width:100%"> 
                <td>{{ produit.nom }}</td>
                <td>{{ produit.description }}</td>
                <td>{{ produit.prix / 100 }}</td>
                <td>{{ produit.stock }}</td>
                <td>{{ produit.referenceFournisseur }}</td>
                               
                <td>{{ produit.createdAt ? produit.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ produit.slug }}</td>
                <td>
                    <a href="{{ path('admin_produits_app_products_show', {'id': produit.id}) }}"class="btn btn-success">voir</a>
                    <a href="{{ path('admin_produits_app_products_edit', {'id': produit.id}) }}"class="btn btn-success">éditer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('admin_produits_app_products_new') }}"class="btn btn-warning">Create new</a>
{% endblock %}
