{% extends 'base.html.twig' %}

{# {% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/styles.css') }}" />
{% endblock %}
 #}
{% block body %}
    <main class="container mt-5">
        <section class="row text-center">
            <div class="col-12 mb-4">
                <h1 class="display-4 text-primary fw-bold">Centre de formation Masambukidi</h1>
                <p class="lead">Bienvenue dans notre boutique</p>
            </div>

            <h2 class="mb-5">{{ category.nom }}</h2> <!-- Subheading for category name -->

{#             <div class="container">
 #}                {% for c in category.categories %}
                    <div class="col-md-4 mb-4">
                        <div class="card shadow-lg border-0">
                            <div class="image-container overflow-hidden">
                           <a href="{{ path('categories_list', {slug: c.slug}) }}">
                                 <img src="{{ asset('uploads/categories/sous/' ~ c.image) }}" alt="{{ c.nom }}" style="width: 200px;" />
                            </a>
                        </div>
                     <div class="card-body text-center">
                        <h5 class="card-title">{{  c.nom }}</h5>
                    </div>
                    </div>
                </div>
                {% endfor %}
{#             </div>
 #}        </section>
    </main>
{% endblock %}